<form method="dialog" class="border p-4 rounded-4">
    <div class="mb-3">
        <span class="h3 fw-bold">New Task</span>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="new-task__title" placeholder="Title">
        <label class="form-label" for="new-task__title">Title</label>
    </div>
    <div class="form-floating mb-3">
        <select id="new-task__project" class="form-select" aria-label="Project selection"></select>
        <label class="form-label" for="new-task__title">Project</label>
    </div>
    <div class="input-group">
        <span class="form-floating mb-3">
            <input type="date" class="form-control" id="new-task__date">
            <label class="form-label" for="new-task__date">Due Date</label>
        </span>
        <span class="form-floating mb-3">
            <input type="time" class="form-control" id="new-task__time">
            <label class="form-label" for="new-task__time">Time</label>
        </span>
    </div>
    <div class="form-floating mb-3">
        <div clasS="form-floating"></div>
        <textarea class="form-control" id="new-task__description" placeholder="Description" style="height:8rem;"></textarea>
        <label class="form-label" for="new-task__description">Description</label>
    </div>
    <div>
        <button class="btn btn-success" id="new-task__confirm-btn" value="add">Add task</button>
        <button class="btn btn-outline-secondary">Cancel</button>
    </div>
</form>