<form method="dialog" class="border p-4 rounded-4">
    <div class="mb-3">
        <span class="h3 fw-bold">New Project</span>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="new-project__title" placeholder="Title">
        <label class="form-label" for="new-project__title">Title</label>
    </div>
    <div>
        <button class="btn btn-success" id="new-project__confirm-btn" value="add">Add task</button>
        <button class="btn btn-outline-secondary">Cancel</button>
    </div>
</form>