:root {
    --clr-black: black;
    --clr-almost-black: #333;
    --clr-dark-gray: dimgray;
    --clr-medium-gray: gray;
    --clr-light-gray: gainsboro;
    --clr-almost-white: whitesmoke;
    --clr-white: white;
}