dialog {
    padding: 3rem 2rem 2rem 2rem;
    border: 2px solid var(--clr-almost-black);
    border-radius: 15px;
}

.button {
    border: 0;
    border-radius: 10px;
    padding: .5rem 2rem;
    font-weight: bold;
    font-size: 1rem;
    color: var(--clr-dark-gray);
    background-color: var(--clr-almost-white);

    &:hover {
        cursor: pointer;
    }

    &--todo-controls {
        border-radius: 5px;
        padding: 0;
        aspect-ratio: 1;
        height: 100%;
        line-height: 100%;
    }
}