<form method="dialog" class="border p-4 rounded-4">
    <div class="mb-3">
        <span class="h3 fw-bold">New Task</span>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="new-task__title" placeholder="Title">
        <label class="form-label" for="new-task__title">Title</label>
    </div>
    <div class="form-floating mb-3">
        <input type="date" class="form-control" id="new-task__date">
        <label class="form-label" for="new-task__date">Due Date</label>
    </div>
    <div>
        <button class="btn btn-primary" id="new-task__confirm-btn" value="add">Add task</button>
        <button class="btn btn-outline-secondary">Cancel</button>
    </div>
</form>