.todo-list {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.todo {
    border-radius: 10px;
    padding: .5rem 1rem;
    height: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-medium-gray);
    color: var(--clr-almost-white);
}