<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>

    <header class="bg-dark px-3 py-3">
        <nav class="navbar mx-auto mw-800">
            <div class="container-fluid">
                <span class="navbar-brand fs-1 fst-italic fw-semibold text-light">
                    <%= htmlWebpackPlugin.options.title %>
                </span>
                <form class="d-flex gap-4">
                    <div class="input-group">
                        <span class="input-group-text">Project</span>
                        <select class="form-select" id="project-selection" style="min-width:10rem;"></select>
                        <button class="btn btn-secondary" type="button" id="new-project-button">+</button>
                    </div>
                    <button class="btn btn-success" type="button" id="new-task-button">Add&nbsp;New&nbsp;Task</button>
                </form>
            </div>
        </nav>
    </header>

    <main class="container-fluid p-4 mw-800">
        <ul class="mb-4 list-group list-group-flush border-top border-bottom" id="task-list"></ul>
        <template id="task">
            <li class="task list-group-item">
                <div class="row align-items-start justify-content-between">
                    <span class="col-1 pt-1">
                        <input type="checkbox" class="form-check-input">
                    </span>
                    <div class="col">
                        <div class="task-title fw-semibold"></div>
                        <div class="task-duedate text-secondary"></div>
                        <div class="task-description mb-3"></div>
                    </div>
                    <span class="task-button-group col-1 pt-1 hidden">
                        <button class="btn btn-outline-danger btn-icon" aria-label="Delete Task">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                            </svg>
                        </button>
                    </span>
                </div>
            </li>
        </template>
    </main>

    <dialog class="dialog border rounded-4" id="new-project-dialog">
        <form method="dialog" class="border p-4 rounded-4">
            <div class="mb-3">
                <span class="h3 fw-bold">New Project</span>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="new-project-title" placeholder="Title">
                <label class="form-label" for="new-project-title">Title</label>
            </div>
            <div>
                <button class="btn btn-success" value="add">Add Project</button>
                <button class="btn btn-outline-secondary">Cancel</button>
            </div>
        </form>
    </dialog>

    <dialog class="dialog border rounded-4" id="new-task-dialog">
        <form method="dialog" class="border p-4 rounded-4">
            <div class="mb-3">
                <span class="h3 fw-bold">New Task</span>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="new-task-title" placeholder="Title">
                <label class="form-label" for="new-task-title">Title</label>
            </div>
            <div class="input-group">
                <span class="form-floating mb-3">
                    <input type="date" class="form-control" id="new-task-date">
                    <label class="form-label" for="new-task-date">Due Date</label>
                </span>
                <span class="form-floating mb-3">
                    <input type="time" class="form-control" id="new-task-time">
                    <label class="form-label" for="new-task-time">Time</label>
                </span>
            </div>
            <div class="form-floating mb-3">
                <div clasS="form-floating"></div>
                <textarea class="form-control" id="new-task-description" placeholder="Description" style="height:8rem;"></textarea>
                <label class="form-label" for="new-task-description">Description</label>
            </div>
            <div>
                <button class="btn btn-success" value="add">Add Task</button>
                <button class="btn btn-outline-secondary">Cancel</button>
            </div>
        </form>
    </dialog>

</body>
</html>