<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>

    <header class="bg-dark px-3 py-3">
        <nav class="navbar mx-auto mw-800">
            <div class="container-fluid">
                <span class="navbar-brand fs-1 fst-italic fw-semibold text-light">
                    <%= htmlWebpackPlugin.options.title %>
                </span>
                <form class="d-flex gap-4">
                    <div class="input-group">
                        <span class="input-group-text">Project</span>
                        <select class="form-select" id="project-selection" style="min-width:10rem;"></select>
                        <button class="btn btn-secondary" type="button" id="new-project-button">+</button>
                    </div>
                    <button class="btn btn-success" type="button" id="new-task-button">Add&nbsp;New&nbsp;Task</button>
                </form>
            </div>
        </nav>
    </header>

    <main class="container-fluid p-4 mw-800"></main>

    <dialog class="dialog border rounded-4" id="new-project-dialog">
        <form method="dialog" class="border p-4 rounded-4">
            <div class="mb-3">
                <span class="h3 fw-bold">New Project</span>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="new-project-title" placeholder="Title">
                <label class="form-label" for="new-project-title">Title</label>
            </div>
            <div>
                <button class="btn btn-success" value="add">Add Project</button>
                <button class="btn btn-outline-secondary">Cancel</button>
            </div>
        </form>
    </dialog>

    <dialog class="dialog border rounded-4" id="new-task-dialog">
        <form method="dialog" class="border p-4 rounded-4">
            <div class="mb-3">
                <span class="h3 fw-bold">New Task</span>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="new-task-title" placeholder="Title">
                <label class="form-label" for="new-task-title">Title</label>
            </div>
            <div class="input-group">
                <span class="form-floating mb-3">
                    <input type="date" class="form-control" id="new-task-date">
                    <label class="form-label" for="new-task-date">Due Date</label>
                </span>
                <span class="form-floating mb-3">
                    <input type="time" class="form-control" id="new-task-time">
                    <label class="form-label" for="new-task-time">Time</label>
                </span>
            </div>
            <div class="form-floating mb-3">
                <div clasS="form-floating"></div>
                <textarea class="form-control" id="new-task-description" placeholder="Description" style="height:8rem;"></textarea>
                <label class="form-label" for="new-task-description">Description</label>
            </div>
            <div>
                <button class="btn btn-success" value="add">Add Task</button>
                <button class="btn btn-outline-secondary">Cancel</button>
            </div>
        </form>
    </dialog>

</body>
</html>