@import "bootstrap/scss/bootstrap";

.mw-800 {
    max-width: 800px;
}

.dialog {
    width: min(100vw, 28rem);
}

.hidden {
    display: none;
}

.icon {
    width: 1rem;
    height: 1rem;
}

.btn-icon {
    padding: .5rem;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
}

.task:hover .task-button-group {
    display: unset;
}