@use "./abstracts" as *;
@use "./resets";
@use "./components.scss";
@import "bootstrap/scss/bootstrap";

body {
    min-height: 100vh;
    min-width: 100vw;
    width: 100vw;
    background-color: var(--clr-light-gray);
}

header,
main {
    padding: 1rem 2rem;
}

h1 {
    color: var(--clr-almost-black);
}

main {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}